body{
    background:url(Foto.jpg) no-repeat;
}
.texto{
    color: #0a21ee;
    border:solid ;
    margin:0 auto ;
    width:300px ;
    padding:2em ;
    background: #ffffffb0;
    width:50% ;
    font-family:"arial" ;
}
